{% extends "template.html" %}
{% load i18n %}
{% load simple_tags %}

{%block title %}{% trans "Recording log" %}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
    {% trans "OPERATION" %}&nbsp;&gt;&nbsp;<strong>{% trans "Recording log" %}</strong>
</div>
{% endblock %}

{% block content %}
<div id="grid"></div>
<script type="text/x-kendo-template" id="toolbarTemplate">
    <div class="toolbar">
        <label class="category-label" for="ptuid">{% trans 'PTUID:' %}</label>
        <input type="search" id="ptuid" class="k-input k-textbox"/>
        <label class="category-label" for="loc_date">{% trans 'Date:' %}</label>
        <input type="text" id="loc_date"/>
        <input type="button" value="Search" class="k-button k-state-default" onclick="search()"/>
    </div>
</script>

<script type="text/javascript">
    function search() {
        var ptuid = $('#ptuid').val();
        var loc_date = $('#loc_date').data('kendoDatePicker').value();
        if(loc_date) loc_date = loc_date.toISOString();
        if (ptuid || loc_date) {
            $('#grid').data("kendoGrid").dataSource.filter({'ptuid':ptuid,'loc_date':loc_date});
        } else {
            $('#grid').data("kendoGrid").dataSource.filter({});
        }
    }
    function getReason(reason){
        switch(reason){
            case 1: return '{% trans "Remote recording" %}';
            case 5: return '{% trans "Voice message" %}';
            case 6: return '{% trans "SOS message" %}';
            default: return "";
        }
    }

    $(document).ready(function(){

        $('#grid').kendoGrid({
            pageable: true,
            reorderable: true,
            toolbar: kendo.template($('#toolbarTemplate').html()),
            dataSource: {
                transport: {
                    read: {method: 'POST', type: 'json', url:'{% url "log_recording" %}'}
                },
                schema: {
                    model: {
                        fields: {
                            uptime: {type: "date"},
                            rec_ts: {type: "date"},
                            reason: {type: "number"},
                        }
                    },
                    data: 'data',
                    total: 'total',
                },
                pageSize: 15,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            columns: [
                {field: "ptuid", title:"{% trans "ptuid" %}", width:100},
                {field: "uptime", title:"{% trans "upload time" %}", format:"{0:{% get_long_date_fmt %}}"},
                {field: "rec_ts", title: "{% trans 'record time' %}", format:"{0:{% get_long_date_fmt %}}"},
                {field: "reason", title: "{% trans 'type' %}", template:'#=getReason(reason)#'},
                {field: "user_cmd", title: "{% trans 'user command' %}"},
                {field: "rec_tot", title: "{% trans 'length' %}", width:100},
            ]
        });
        $('#loc_date').kendoDatePicker();
    });
</script>
{% endblock %}